
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:700|Playfair+Display+SC:700');
/*font-family: 'Old Standard TT', serif;
font-family: 'Playfair Display SC', serif; .main_title*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/*font-family: 'Montserrat', sans-serif; .support_copy*/

/*body {
	background-image: url("../images/pexels-black-white-deskitems-photo.jpg");
	background-size: cover;
}*/

body {
	background-image: url("images/pexels-black-white-deskitems-photo-edited.jpg");
	background-size: cover;
	color: #515F61;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	color: #971f41;
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-weight: bold;
	font-size: 66px;
}

.main_title {
    width: 100%;
    text-align: center;
}

nav {
    float: right;
}
nav a {
    display: inline-block;
    padding: 8px;
  /*  background-color: #dddddd;*/
    color: #971f41;
    text-decoration: none;
}

p {
	margin: 1.5em;
}

ul {
	font-weight: bold;
	margin: 1.5em;
	text-align: center;
	list-style-type: none;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 32px;
	font-family: 'Old Standard TT', serif;
	/*float: right;*/
	/*left: 0%;
   /* top: 0%;*/
	/*width: 100%;*/
	text-align: center;
	clear: both;
}

#contact {
	text-decoration: none;
	color: #971f41;
	font-weight: bold;
	border: 3px solid #971f41;
	border-radius: 5px;
	padding: 3px;
    width: 120px;
    border-width: 2px;
    text-align: center;
}
