
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:700|Playfair+Display+SC:700');
/*font-family: 'Old Standard TT', serif;
font-family: 'Playfair Display SC', serif; .main_title*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/*font-family: 'Montserrat', sans-serif; .support_copy*/

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,700');
/*font-family: 'Alegreya SC', serif;*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #515F61;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 16px; /*16px = 1em*/
	line-height: 1.5em;
}

.lander h2 {
	font-style: italic;
	text-align: center;
	font-size: 2em;
	font-family: 'Alegreya SC', serif;
	clear: both;
	width: 15em;
    margin: 1em auto;
   /* padding: 20px;*/
}

h1 {
	color: #971f41;
	font-family: 'Alegreya SC', serif;
	font-weight: bold;
	font-size: 4.125em;
	margin: 1em auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.logo img {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}

#main_nav {
    float: right;
    margin: 0 20px;
    padding: 20px;
}

#main_nav a {
    display: inline-block;
    padding: 10px;
    padding: 20px;
    color: #971f41;
}

.lander {
	background: url("../images/pexels-black-white-deskitems-photo-edited.jpg") no-repeat center center scroll;
	background-size: cover;
	/*height: 320px;*/
	padding: 5em 0;
	text-align: center;
}
.wrapper {
	background: #dadee5;
	width: 80%;
	margin: 3% auto;
    
}

ul {
	margin: 1.5em auto;
	text-align: center;
	list-style-type: none;
}

li {
	padding: 2em;
	width: 16.66%;
	float: left;
    padding: 20px;
}

.about {
	margin: 2em;
	width: 80%;
	margin: auto;
	background-color: #91abae;
    padding: 20px;

}

.about h2{
	color: #971f41;
	text-align: center;
	margin: 1em;
	font-family: 'Alegreya SC', serif;

}

.members {
	margin: 5%;
	background-color: #91abae;
	padding: 1.5em;
    border: 3px black solid;
    width: 40%;
    float: left;

}
.members h2{
	font-family: 'Alegreya SC', serif;
	color: #971f41;
	font-weight: 700;
}

.members img {
	float: left;
	width: 50%;
	padding-right: 2em;
}


.members p {

}
.staff {
	max-width: 100%;
}

.staff h2 {
	color: #971f41;
	text-align: center;
	margin-top: 2em;
	font-family: 'Alegreya SC', serif;
}

.clearfix:after,.members:after {
	display:block;
	clear:both;
	height:0;
	content:"";
	visibility:hidden;
}

footer {
	font-size: .7em;
	background-color: #ccc;
	color: #fff;
	line-height: 1em;
	clear: both;
    padding: 10px;
}

#copyright {
	margin: .7em 0;
}
.legal a {
	display: block;
	margin: 1.2em auto;
	/*text-align: center;
	font-size: 1.5em;*/
}

.clearfix:after, .staff:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix:after, .about:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 1080px) {
	.about li {
		width: 80%;
    	outline-width: .5em;
   		padding: .5em;
    	height: 2em;
   		line-height: 2em;
	}
}
